{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Add Recipe</h1>

    <div class="row recipeForm">
        <!-- Add recipe form -->

        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
                <!-- category selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                        <select id="course_category" name="course_category" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                                <option value="{{ category.course_category }}">{{ category.course_category }}</option>
                            {% endfor %}
                        </select>
                        <label for="recipe_category">Recipe Category</label>
                    </div>
                </div>
                <!-- task name
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                            type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div> -->
                <!-- recipe ingredients -->
                <!-- <div class="row">
                    <div class="input-field col s12">
                            Dropdown Trigger
                            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

                            Dropdown Structure
                            <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">one</a></li>
                            <li><a href="#!">two</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">three</a></li>
                            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                            </ul>
                    </div> -->


                    <div class="form-wrapper">
                        <form post="#">
                                <div class="row">
                                    <div class="form__item">
                                        <label class="recipe__name" for="recipe-name">Recipe Name<i class="red">( max length 200 )</i></label>
                                        <br>
                                        <input name="recipe-name"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form__item">
                                        <label class="recipe__time" for="prep_time">Prep Time</label>
                                        <br>
                                        <input class="time__input" type="text"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form__item">
                                    <label class="recipe__time">Cooking Time</label>
                                    <br>
                                    <input class="time__input" type="text"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form__item">
                                    <label class="recipe__time" for="servings">Servings</label>
                                    <br>
                                    <input class="time__input" for="servings" type="text"/>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="form__item">
                                    <label for="short-desc">Short Description</label>
                                    <br>
                                    <textarea name="short-desc" cols="30" rows="5"></textarea>
                                </div>
                                </div>
                                <div class="row">
                                <div class="form__item">
                                    <label for="ing-list">Ingredients</label>
                                    <br>
                                    <textarea name="ing-list" cols="30" rows="10"></textarea>
                                </div>
                                </div>
                                <div class="form__item">
                                    <label for="direction">Directions</label>
                                    <br>
                                    <textarea name="direction" rows="10"></textarea>
                                </div>
                                <div class="form__item">
                                    <label for="cook-tips">Cooking Tips</label>
                                    <br>
                                    <textarea name="cook-tips" rows="5"></textarea>
                                </div>
                        </form>
                    </div>
        </div>
    </div>
    <div class="row">
        <!--  Upload Image  -->
        <div class="row"> 
            <div class="col s12"> 
                    <h3 class="center-align">Select an image to upload</h3>
                    <p>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                    </p>
                        
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="image-preview center-align" id="imagePreview">
                    <img src="" alt="Image Preview" class="image-preview__image ">
                    <span class="imagepreview__default-text">Image Preview</span>
                </div>
            </div>
            <div class="col s6">
                <form method="post" action="/" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <input type="file" name="file" id="file" autocomplete="off" required>
                        </p>
                    </dl>
                </form>
            </div>
        </div>

    </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                            Add Recipe <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}

