{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row recipeForm">
        <!-- Add recipe form -->
                    <div class="form-wrapper row card-panel grey lighten-5">
                        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
                            <ul>
                                <!-- category selection -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-folder-open prefix"></i>
                                        <select id="course_category" name="course_category" class="validate" required>
                                            <option value="" disabled selected>Choose Category</option>
                                            {% for category in categories %}
                                                <option value="{{ category.course_category }}">{{ category.course_category }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="course_category">Recipe Category</label>
                                    </div>
                                </div>

                                <!-- recipe name  -->
                                <li class="row">
                                    <div class="input-field col s6">
                                        <i class="fas fa-file-signature prefix"></i>
                                        <label for="recipe_name">Recipe Name</label>
                                        <input id="recipe_name" name="recipe_name" minlength="5" maxlength="25" type="text" class="validate"/>
                                    </div>

                                    <!-- prep time -->
                                    <div class="input-field col s3">
                                        <i class="fas fa-stopwatch prefix"></i>
                                        <label for="prep_time">Prep Time</label>
                                        <input placeholder="e.g. 40" id="prep_time" name="prep_time" max="240" type="number" class="validate"
                                        oninvalid="alert('Max Length is 240');"/>
                                    </div>
                                    <div class="input-field col s3">
                                        <p class="valign-wrapper">Minutes</p>
                                    </div>
                                </li>
                                <li class="row">

                                    <!-- cooking time -->
                                    <div class="input-field col s3">
                                        <i class="fas fa-stopwatch prefix"></i>
                                        <label for="cooking_time">Cooking Time</label>
                                        <input placeholder="e.g. 120" id="cooking_time" max="240" name="cooking_time" type="number" class="validate"
                                        oninvalid="alert('Max Length is 240');"/>
                                    </div>
                                    <div class="input-field col s3">
                                        <p class="valign-wrapper">Minutes</p>
                                    </div>

                                    <!-- servings -->
                                    <div class="input-field col s3">
                                        <i class="fas fa-users prefix"></i>
                                        <label for="serves">Serves</label>
                                        <input placeholder="e.g. 3" name="serves" max="20" id="serves" type="number" class="validate"
                                        oninvalid="alert('Max Length is 20');"/>
                                    </div>
                                    <div class="input-field col s3">
                                        <p class="valign-wrapper">People</p>
                                    </div>
                                </li>

                                <!-- short description  -->
                                <li class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-pencil-alt prefix"></i>
                                        <label for="s_desc">Short Description</label>
                                        <textarea name="s_desc" id="s_desc" cols="30" rows="5" class="materialize-textarea validate"></textarea>
                                    </div>
                                </li>

                                <!-- ingredients -->
                                <li class="row">
                                    <div class="row col s12">
                                        <p class="center-align">When inputting ingredients, please use a new line for each ingredient</p>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="fas fa-list prefix"></i>
                                        <label for="ingredients">Ingredients</label>
                                        <textarea name="ingredients" id="ingredients" cols="30" rows="50" class="materialize-textarea validate"></textarea>
                                    </div>
                                </li>

                                <!-- directions for use  -->
                                <li class="row">
                                    <div class="row col s12">
                                        <p class="center-align">When inputting directions of use, please use a new line for each direction</p>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="fas fa-directions prefix"></i>
                                        <label for="directions">Directions</label>
                                        <textarea name="directions" id="directions" cols="30" rows="50" class="materialize-textarea validate"></textarea>
                                    </div>
                                </li>

                                <!-- cooking tips -->
                                <li class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-hands-helping prefix"></i>
                                        <label for="cook_tip">Cooking Tips</label>
                                        <textarea name="cook_tip" id="cook_tip" cols="30" rows="50" class="materialize-textarea validate"></textarea>
                                    </div>
                                </li>

                                <!-- image header -->
                                <li class="row"> 
                                    <div class="input-field col s12"> 
                                            <h3 class="center-align">Select an image to upload</h3>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-camera prefix"></i>
                                        <label for="image_upload">Image Upload</label>
                                        <input placeholder="Enter your image URL here" name="image_upload" id="image_upload" type="url" class="validate"/>
                                    </div>
                                </li>
                                
                            </ul>

                            <!-- submit button -->
                            <div class="row">
                                <div class="col s12 center-align">
                                    <button type="submit" class="btn-large text-shadow">
                                        Add Recipe <i class="fas fa-plus-square right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>

{% endblock %}

