{% extends "base.html" %}
{% block content %}

      <h3 class="center-align">List of Recipes</h3>

      <div class="row">
          <a href="{{ url_for('starters') }}" class="col s12 btn-large starter-btn">
            <span class="rec-btn-text"> Starters </span>
          </a>
      </div>
      <div class="row">
          <a href="{{ url_for('mCourse') }}" class="col s12 btn-large mcourse-btn">
            <span class="rec-btn-text"> Main Courses </span>
          </a>
      </div>
      <div class="row">
          <a href="{{ url_for('dessert') }}" class="col s12 btn-large dessert-btn">
            <span class="rec-btn-text"> Desserts </span>
          </a>
      </div>

          


      </div>
        


{% endblock %}
